<div class="detail-container">
  <div class="detail-header">
    <h1>{{location.name}}</h1>
    <span class="code-large">{{location.type}}</span>
  </div>

  <div class="info">
    <div class="info-row">
      <span class="info-label">Dimension:</span>
      <span class="info-value">{{location.dimension}}</span>
    </div>

    <div class="info-row">
      <span class="info-label">Location ID:</span>
      <span class="info-value">{{location.locationId}}</span>
    </div>

    <div class="info-row">
      <span class="info-label">Total Residents:</span>
      <span class="info-value">{{residents.length}}</span>
    </div>
  </div>

  <div class="sub-section">
    <h2>Residents</h2>

    <div class="sub-ids">
      {{#if residents.length}}
        {{#each residents}}
          <a href="/characters/{{this.characterId}}"><span
              class="sub-id-badge"
            >{{this.name}}</span></a>
        {{/each}}
      {{else}}
        <p>No known residents.</p>
      {{/if}}
    </div>
  </div>

  <div class="detail-actions">
    <a href="/locations" class="btn-back">← Back to Locations</a>
  </div>
</div>